<select [(ngModel)]="year" (change)="yearChanged()">
    <option selected>2019</option>
    <option>2018</option>
    <option>2017</option>
    <option>2016</option>
    <option>2015</option>
    <option>2014</option>
    <option>2013</option>
    <option>2012</option>
    <option>2011</option>
</select>

<select [(ngModel)]="period" (change)="periodChanged()">
    <option value="1" selected>Annual, Quarter, YTD-Q, LMT</option>
    <option value="2">Annual, Quarter, LMT-Q</option>
    <option value="3">Quarter, YTD, LMT-Q</option>
    <option value="4">Annual,YTD, LMT-Q</option>
    <option value="5">Annual, Quarter, YTD-Q</option>
</select>
<br><br><br><br>

<year-select  [treeServiceData]='items'></year-select>
