<div class="year-select-wrapper" #treeWrap>
    <div class="year-select-left">
        <label>Years</label> <br>
        <ul>
            <li *ngFor="let year of gettreedata; let i= index" >
                <label class="custom-checkboxes">
                    <input class="parent-checkbox" (change)="onYearSelect($event, i,year.checked)" [checked]="year.checked" [id]='i'
                        type="checkbox" [disabled]="year.disabled" [id]="year.value">
                    <span></span>
                </label>
                <a href="javascript:void(0);" class="label" [ngClass]="{active: i===0, disabled : year.disabled}" (click)='getChidlrenPeridos($event, i, year.text)'>
                    {{year.text}}
                </a>
            </li>
        </ul>
    </div>
    <div class="year-select-right">
        <label>Period Type <strong>({{selectedYear}})</strong></label>
        <ul>
            <li *ngFor="let period of getChildrensValue; let i= index">
                <div *ngIf="!period.hidden">
                        <label class="custom-checkboxes">
                                <input (change)="onPeriodsSelect($event,i, period.checked, period.parentId, period.value)"
                                    [attr.data-parent]="period.parentId" [checked]="period.checked" [id]='i' type="checkbox"
                                    [disabled]="period.disabled"
                                    [attr.name]="period.name"
                                    [id]="period.value">
                                <span></span>    
                            </label>
                            <span class="label">
                                {{period.text}}
                            </span>
                </div>
            </li>
        </ul>
    </div>
</div>
