/* You can add global styles to this file, and also import other style files */
.year-select-wrapper {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    padding: 14px;
    border-radius: 10px;
  }
  
  .year-select-wrapper .year-select-left {
    padding: 5px;
    width: 107px;
    margin-right: 24px;
  }
  .year-select-left ul {
    height: 144px;
    overflow: auto;
  }
  
  
  .year-select-wrapper .year-select-right {
    padding: 5px;
    
  }
  
  .year-select-wrapper ul li {
    margin-bottom: 6px;
  }
  .year-select-wrapper ul li a{
      text-decoration: none !important;
  }
  .year-select-wrapper ul li a.active
  {
    font-weight: bold;
  }
  
  .custom-checkboxes input[type="checkbox"]:disabled + span {
    cursor: not-allowed;
    opacity: 0.2;
    
  }
  .year-select-wrapper label,
  .year-select-wrapper .label
  {
    color: gray;
    font-family: sans-serif;
    font-size: 14px;
  }
  .year-select-wrapper ul {
    padding: 0;
    list-style: none;
  }
  
  .wrapper.disabled {
    opacity: 0.5;
    cursor: no-drop;
  }
  
  .custom-checkboxes input[type="checkbox"]
  {
  display: none;
  }
  .custom-checkboxes input[type="checkbox"] + span {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  box-shadow: 0px 0px 0px 1px #7d7d7d;
  margin: 4px 5px 5px 4px;
  cursor: pointer;
  }
  .custom-checkboxes input[type="checkbox"]:checked + span {
  background: #7d7d7d;
  box-sizing: border-box;
  border: 2px solid white;
  }
  .year-select-wrapper ul li a.disabled
  {
        cursor: not-allowed;
        opacity: 0.2;
  }